
[program:#user#-sickrage]
priority=2
command=python /opt/sickrage/SickBeard.py --nolaunch --datadir /config/sickrage/#user#/ --config=/config/sickrage/#user#/config.ini >> /dev/null
redirect_stderr=true
startsecs=5

