version: '2'
services:
 frontend:
    image: cloneme/nginx
    #build: ../nginx
    container_name: seedboxdocker_front_1
    restart: always
    networks: 
      - seedbox
    environment:
        - server_name=#server_name#
        - USE_SSL=#useSSL#
        - TZ=#TZ#
#frontend_dependencies#
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - #pwd#/ssl:/etc/nginx/ssl/:ro
        - #seedboxFolder#/config:/config
        - #pwd#/htpasswd.txt:/etc/nginx/.htpasswd:ro
        - #pwd#/nginx.conf:/etc/nginx/nginx.conf:ro
        - #seedboxFolder#/log/nginx-front:/var/log/nginx
 rtorrent:
    image: cloneme/rtorrent-rutorrent:64bit
    #build: ../rtorrent-rutorrent
    container_name: seedboxdocker_rtorrent_1
    restart: always
    networks: 
      - seedbox
    # On ne litmite pas rTorrent vu que c'est le process "principal" de la machine
    # mem_limit: 2000m
    # memswap_limit: 1000m
    # cpu_shares: 512
    environment:
        - VIRTUAL_HOST=rtorrent
        - USE_SSL=#useSSL#
        - TZ=#TZ#
    ports:
        - "49160-49175:49160-49175"
        - "49161-49175:49161-49175/udp"
    volumes:
        - #pwd#/htpasswd.txt:/.htpasswd:ro
        - #pwd#/ssl:/etc/nginx/ssl:ro
        - #seedboxFolder#/config:/config
        - #seedboxFolder#/log/:/log
        - #seedboxFolder#/downloads/:/downloads
#The authentification is done by the container.
        - #seedboxFolder#/log/nginx-torrent:/var/log/nginx
#rtorrent_end#
 fail2ban:
    image: cloneme/fail2ban:latest
    container_name: seedboxdocker_fail2ban
    restart: always
    privileged: true
    network_mode: "host"
    environment:
        - TIMEZONE=Europe/Paris
    volumes:
        - #pwd#/include/fail2ban/jail.txt:/etc/fail2ban/jail.local:ro
        - #pwd#/include/fail2ban/nginx-http-auth.conf:/etc/fail2ban/filter.d/nginx-http-auth.conf:ro
        - #pwd#/include/fail2ban/docker-action.conf:/etc/fail2ban/action.d/docker-action.conf:ro
        - #pwd#/include/fail2ban/nginx-badbots.conf:/etc/fail2ban/filter.d/nginx-badbots.conf:ro
        - #seedboxFolder#/log:/var/log/
        - /var/log:/host
#fail2ban_end#

 sickrage:
    image: cloneme/mu-sickrage
    container_name: seedboxdocker_sickrage
    restart: always
    networks: 
      - seedbox
    mem_limit: 300m
    memswap_limit: 500m
    volumes:
        - #pwd#/htpasswd.txt:/etc/nginx/.htpasswd:ro
        - #seedboxFolder#/config/sickrage:/config
        - #seedboxFolder#/downloads/:/torrents
#sickrage_end#

 #couckPotato_conf#

 plex:
    image: timhaak/plex
    container_name: seedboxdocker_plex_1
    restart: always
    networks: 
      - seedbox
    mem_limit: 2000m
    memswap_limit: 2000m
#    ports:
#        - "32400:32400"
    environment:
        - VIRTUAL_HOST=plex.dock
        - PLEX_USERNAME=#PLEX_USERNAME#
        - PLEX_PASSWORD=#PLEX_PASSWORD#
    volumes:
        - #seedboxFolder#/config/plex:/config
        - #seedboxFolder#/downloads/:/data
#plex_end#

 emby:
    image: emby/embyserver
    container_name: emby
    restart: always
    networks: 
      - seedbox
    environment:
        - TZ=#TZ#
        - AUTO_UPDATES_ON=true
    volumes:
#emby_config#        - #seedboxFolder#/config/emby:/config
        - #seedboxFolder#/downloads/:/media
#emby_end#

 limbomedia:
    image: limbomedia/limbomedia
    container_name: limbomedia
    restart: always
    networks:
      - seedbox
    volumes:
        - #seedboxFolder#/downloads/:/data
#limbomedia_end#

 openvpn:
    image: kylemanna/openvpn
    container_name: seedboxdocker_openvpn_1
    restart: always
    networks: 
      - seedbox
    ports:
        - "1194:1194/udp"
    volumes:
        - #seedboxFolder#/config/openvpn:/etc/openvpn
    cap_add:
        - NET_ADMIN
#openvpn_end#

 teamspeak:
   image: devalx/docker-teamspeak3:latest
   container_name: seedboxdocker_teamspeak_1
   restart: always
   networks: 
      - seedbox
   mem_limit: 300m
   memswap_limit: 500m
   ports:
       - "9987:9987/udp"
       - "30033:30033"
       - "10011:10011"
   volumes:
       - #seedboxFolder#/config/ts3:/home/ts3/data
#teamspeak_end#

 explorer:
   image: cloneme/explorer
   container_name: seedboxdocker_explorer_1
   restart: always
   networks: 
      - seedbox
   volumes:
       - #seedboxFolder#/config/explorer:/opt/explorer
       - #seedboxFolder#/downloads:/torrents
#explorer_end#

 headphones:
   image: pwntr/headphones-alpine
   container_name: seedboxdocker_headphones_1
   restart: always
   networks: 
      - seedbox
   volumes:
#headphones_config#       - #seedboxFolder#/config/headphones:/config 
       - #seedboxFolder#/downloads/rtorrent:/downloads 
       - #seedboxFolder#/downloads/music:/music
   environment:
        - TZ=#TZ#
#headphones_end#

 filemanager:
    image: cloneme/filemanager
    container_name: seedboxdocker_filemanager_1
    restart: always
    networks: 
      - seedbox
    volumes:
        - #seedboxFolder#/downloads:/downloads
#The authentification is done on front side.
#filemanager_end#

 pureftpd:
    image: cloneme/pure-ftpd
    container_name: seedboxdocker_pureftpd_1
    restart: always
    networks: 
      - seedbox
    ports:
        - "21:21"
        - "30000-30009:30000-30009"
    volumes:
        - #pwd#/htpasswd.txt:/etc/nginx/.htpasswd:ro
        - #seedboxFolder#/downloads:/downloads
    environment:
        - PUBLICHOST=#server_name#
        - TZ=#TZ#
#pureftpd_end#

 muximux:
    image: linuxserver/muximux
    container_name: seedboxdocker_muximux_1
    restart: always
    networks: 
      - seedbox
    volumes:
      - #seedboxFolder#/config/muximux:/config
#muximux_end#

 glances:
    image: docker.io/nicolargo/glances
    container_name: seedboxdocker_glances_1
    restart: always
    pid: host
    networks: 
      - seedbox
#    ports:
#      - "61208:61208"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - GLANCES_OPT=-w
#glances_end#

 plexpy:
    image: linuxserver/plexpy
    container_name: seedboxdocker_plexpy_1
    restart: always
    networks: 
      - seedbox
#    ports:
#      - "8181:8181"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - #seedboxFolder#/config/plexpy:/config
      - #seedboxFolder#/config/plex/Library/Application\040Support/Plex\040Media\040Server/Logs:/logs:ro
#plexpy_end#

 syncthing:
    image: linuxserver/syncthing
    container_name: seedboxdocker_syncthing_1
    restart: always
    networks: 
      - seedbox
    volumes:
      - #seedboxFolder#/config/syncthing:/config
      - #seedboxFolder#/downloads:/storage
#    ports:
#      - "8384:8384"
#      - "22000:22000"
#      - "21027:21027/udp"
#syncthing_end#

networks:
  seedbox:
    driver: bridge
