version: '2'
services:
 frontend:
    image: funtwo/nginx:latest-dev
    #build: ../nginx
    container_name: seedboxdocker_front_1
    restart: always
    networks: 
      - seedbox
    environment:
        - server_name=#server_name#
        - USE_SSL=#useSSL#
        - TZ=#TZ#
#frontend_dependencies#
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - #seedboxFolder#/config:/config
        - #pwd#/htpasswd.txt:/etc/nginx/htpasswd:ro
        - #pwd#/services.conf:/etc/nginx/services.conf:ro
        - #seedboxFolder#/log/nginx-front:/var/log/nginx

#start_rtorrent
 rtorrent:
    image: funtwo/rtorrent-rutorrent:64bit
    #build: ../rtorrent-rutorrent
    container_name: seedboxdocker_rtorrent_1
    restart: always
    networks: 
      - seedbox
    # On ne litmite pas rTorrent vu que c'est le process "principal" de la machine
    # mem_limit: 2000m
    # memswap_limit: 1000m
    # cpu_shares: 512
    environment:
        - VIRTUAL_HOST=rtorrent
        - USE_SSL=#useSSL#
        - TZ=#TZ#
    ports:
        - "49160-49175:49160-49175"
        - "49161-49175:49161-49175/udp"
    volumes:
        - #pwd#/htpasswd.txt:/.htpasswd:ro
        - #pwd#/ssl:/etc/nginx/ssl:ro
        - #seedboxFolder#/config:/config
        - #seedboxFolder#/log/:/log
        - #seedboxFolder#/downloads/:/downloads
#The authentification is done by the container.
        - #seedboxFolder#/log/nginx-torrent:/var/log/nginx
#end_rtorrent

#start_fail2ban
 fail2ban:
    image: funtwo/fail2ban:latest-dev
    container_name: seedboxdocker_fail2ban
    restart: always
    privileged: true
    network_mode: "host"
    environment:
        - TIMEZONE=Europe/Paris
    volumes:
        - #pwd#/include/fail2ban/jail.txt:/etc/fail2ban/jail.local:ro
        - #pwd#/include/fail2ban/nginx-http-auth.conf:/etc/fail2ban/filter.d/nginx-http-auth.conf:ro
        - #pwd#/include/fail2ban/docker-action.conf:/etc/fail2ban/action.d/docker-action.conf:ro
        - #pwd#/include/fail2ban/nginx-badbots.conf:/etc/fail2ban/filter.d/nginx-badbots.conf:ro
        - #seedboxFolder#/log:/var/log/
        - /var/log:/host
#end_fail2ban

#start_sickrage
 sickrage:
    image: funtwo/sickrage:latest-dev
    container_name: seedboxdocker_sickrage
    restart: always
    networks: 
      - seedbox
    mem_limit: 300m
    memswap_limit: 500m
    volumes:
        - #pwd#/htpasswd.txt:/etc/nginx/.htpasswd:ro
        - #seedboxFolder#/config/sickrage:/config
        - #seedboxFolder#/downloads/:/torrents
#end_sickrage

#start_couchpotato
 #couckPotato_conf#
#end_couchpotato

#start_plex
 plex:
    image: timhaak/plex
    container_name: seedboxdocker_plex_1
    restart: always
    networks: 
      - seedbox
    mem_limit: 2000m
    memswap_limit: 2000m
    ports:
        - "32400:32400"
    environment:
        - VIRTUAL_HOST=plex.dock
        - PLEX_USERNAME=#PLEX_USERNAME#
        - PLEX_PASSWORD=#PLEX_PASSWORD#
    volumes:
        - #seedboxFolder#/config/plex:/config
        - #seedboxFolder#/downloads/:/data
#end_plex

#start_emby
 emby:
    image: emby/embyserver
    container_name: emby
    restart: always
    networks: 
      - seedbox
    environment:
        - TZ=#TZ#
        - AUTO_UPDATES_ON=true
    volumes:
#emby_config#        - #seedboxFolder#/config/emby:/config
        - #seedboxFolder#/downloads/:/media
#end_emby

#start_limbomedia
 limbomedia:
    image: limbomedia/limbomedia
    container_name: limbomedia
    restart: always
    networks:
      - seedbox
    volumes:
        - #seedboxFolder#/downloads/:/data
#end_limbomedia

#start_cloud
 cloud:
    image: coderaiser/cloudcmd
    container_name: seedboxdocker_cloud
    restart: always
    networks: 
      - seedbox
    volumes:
      - #seedboxFolder#/config/cloud:/root
      - #seedboxFolder#/downloads:/mnt/fs
#end_cloud

#start_openvpn
 openvpn:
    image: kylemanna/openvpn
    container_name: seedboxdocker_openvpn_1
    restart: always
    networks: 
      - seedbox
    ports:
        - "1194:1194/udp"
    volumes:
        - #seedboxFolder#/config/openvpn:/etc/openvpn
    cap_add:
        - NET_ADMIN
#end_openvpn

#start_teamspeak
 teamspeak:
   image: devalx/docker-teamspeak3:latest
   container_name: seedboxdocker_teamspeak_1
   restart: always
   networks: 
      - seedbox
   mem_limit: 300m
   memswap_limit: 500m
   ports:
       - "9987:9987/udp"
       - "30033:30033"
       - "10011:10011"
   volumes:
       - #seedboxFolder#/config/ts3:/home/ts3/data
#end_teamspeak

#start_headphones
 headphones:
   image: pwntr/headphones-alpine
   container_name: seedboxdocker_headphones_1
   restart: always
   networks: 
      - seedbox
   volumes:
#headphones_config#       - #seedboxFolder#/config/headphones:/config 
       - #seedboxFolder#/downloads/rtorrent:/downloads 
       - #seedboxFolder#/downloads/music:/music
   environment:
        - TZ=#TZ#
#end_headphones

#start_pureftpd
 pureftpd:
    image: cloneme/pure-ftpd
    container_name: seedboxdocker_pureftpd_1
    restart: always
    networks: 
      - seedbox
    ports:
        - "21:21"
        - "30000-30009:30000-30009"
    volumes:
        - #pwd#/htpasswd.txt:/etc/nginx/.htpasswd:ro
        - #seedboxFolder#/downloads:/downloads
    environment:
        - PUBLICHOST=#server_name#
        - TZ=#TZ#
#end_pureftpd

#start_muximux
 muximux:
    image: linuxserver/muximux
    container_name: seedboxdocker_muximux_1
    restart: always
    networks: 
      - seedbox
    volumes:
      - #seedboxFolder#/config/muximux:/config
#end_muximux

#start_glances
 glances:
    image: funtwo/glances:master
    container_name: seedboxdocker_glances_1
    restart: always
    pid: host
    networks: 
      - seedbox
#    ports:
#      - "61208:61208"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - #seedboxFolder#/config:/data/config
      - #seedboxFolder#/downloads:/data/downloads
      - #seedboxFolder#/log:/data/log
    environment:
      - GLANCES_OPT=-w
#end_glances

#start_plexpy
 plexpy:
    image: linuxserver/plexpy
    container_name: seedboxdocker_plexpy_1
    restart: always
    networks: 
      - seedbox
#    ports:
#      - "8181:8181"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - #seedboxFolder#/config/plexpy:/config
      - #seedboxFolder#/config/plex/Library/Application\040Support/Plex\040Media\040Server/Logs:/logs:ro
#end_plexpy

#start_syncthing
 syncthing:
    image: linuxserver/syncthing
    container_name: seedboxdocker_syncthing_1
    restart: always
    networks: 
      - seedbox
    volumes:
      - #seedboxFolder#/config/syncthing:/config
      - #seedboxFolder#/downloads:/storage
    environment:
      - PGID=1000
      - PUID=1000
#    ports:
#      - "8384:8384"
#      - "22000:22000"
#      - "21027:21027/udp"
#end_syncthing

#start_portainer
 portainer:
    image: portainer/portainer
    container_name: seedboxdocker_portainer_1
    restart: always
    networks: 
      - seedbox
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
#    ports:
#      - "9000:9000"
#end_portainer

#start_elfinder
 elfinder:
    image: sebastianhutter/elfinder
    container_name: seedboxdocker_elfinder_1
    restart: always
    networks: 
      - seedbox
    environment:
      - ELFINDER_FILES_URI=/elfinder/files
    volumes:
      - #seedboxFolder#:/var/www/html/files
#end_elfinder

#start_subliminal
 subliminal:
    image: funtwo/subliminal:master
    container_name: seedboxdocker_subliminal_1
    restart: always
    networks: 
      - seedbox
    volumes:
      - #seedboxFolder#/downloads:/downloads
      - #pwd#/htpasswd.txt:/etc/.htpasswd:ro
      - #seedboxFolder#/log/subliminal:/var/log/subliminal
#end_subliminal

#start_butterfly
 butterfly:
    image: garland/butterfly
    container_name: seedboxdocker_butterfly_1
    restart: always
    networks: 
      - seedbox
    environment:
      - PORT=57575
    volumes:
      - #seedboxFolder#:/data
#    ports:
#      - "57575:57575"
#end_butterfly

networks:
  seedbox:
    driver: bridge
