#start_root
    location / {
        root /var/www;
        index index.html index.htm;

        #start_glances
        if ($http_referer ~ "^https?://[^/]+/glances"){
            rewrite ^/(.*) /glances/$1 redirect;
        }
        #end_glances

        #start_rtorrent 
        if ($http_referer ~ "^https?://[^/]+/rtorrent"){
            rewrite ^/(.*) /rtorrent/$1 redirect;
        }
        #end_rtorrent

        #start_cloud
        if ($http_referer ~ "^https?://[^/]+/cloud"){
            rewrite ^/(.*) /cloud/$1 redirect;
        }
        #end_cloud

        #start_fail2ban
        if ($http_referer ~ "^https?://[^/]+/fail2web"){
            rewrite ^/(.*) /fail2web/$1 redirect;
        }
        #end_fail2ban

        #start_muximux
        include auth-basic.conf;
        rewrite ^/(.*) /muximux/$1 redirect;
        #end_muximux
    }
#end_root

#start_rtorrent 
    location /rtorrent/ {
        include auth-basic.conf;
        fastcgi_pass_header Authorization;
        include /etc/nginx/fastcgi_params;
        include proxy.conf;

        rewrite /rtorrent/(.*) /$1 break;
        proxy_pass http://seedboxdocker_rtorrent_1/;
    }
#end_rtorrent

#start_sickrage 
    location /sickrage {
        include auth-basic.conf;
        include proxy.conf;
        #sickrage_conf#
    }
#end_sickrage

#start_plex
    location /web {
        proxy_pass http://seedboxdocker_plex_1:32400;
        include proxy.conf;
    }

    location /plex {
        proxy_pass http://seedboxdocker_plex_1:32400/web;
    }
#end_plex

#start_emby
    location /emby {
        include auth-basic.conf;
        proxy_pass http://emby:8096;
        include proxy.conf;
    }
#end_emby

#start_limbomedia
    location /limbomedia {
        include auth-basic.conf;
        proxy_pass http://limbomedia:8000;
        include proxy.conf;
    }
#end_limbomedia#

#start_cloud
    location /cloud/ {
        include auth-basic.conf;
        rewrite /cloud/(.*) /$1 break;
        proxy_pass http://seedboxdocker_cloud:8000/;
        include proxy.conf;
    }
#end_cloud

#start_headphones
    location /headphones {
        include auth-basic.conf;
        proxy_pass http://headphones:8181;
        include proxy.conf;
    }
#end_headphones

#start_couchpotato
    location /couchpotato {
        include auth-basic.conf;
        #couchpotato_conf#
        include proxy.conf;
    }
#end_couchpotato

#start_muximux
    location /muximux/ {
        include auth-basic.conf;
        rewrite /muximux/(.*) /$1 break;
        proxy_pass http://seedboxdocker_muximux_1/;
        include proxy.conf;
    }
#end_muximux

#start_glances
    location /glances/ {
        include auth-basic.conf;
        rewrite /glances/(.*) /$1 break;
        proxy_pass http://seedboxdocker_glances_1:61208/;
        include proxy.conf;
    }
#end_glances

#start_syncthing
    location /syncthing/ {
        include auth-basic.conf;
        proxy_pass http://seedboxdocker_syncthing_1:8384/;
        include proxy.conf;
    }
#end_syncthing

#start_plexpy
    location /plexpy {
        include auth-basic.conf;
        proxy_pass http://seedboxdocker_plexpy_1:8181;
        include proxy.conf;
    }
#end_plexpy

#start_fail2ban
    location /fail2web/ {
      include auth-basic.conf;
      proxy_pass http://seedboxdocker_fail2ban:80/;
      include proxy.conf;
    }

    location /fail2web/api/ {
       include auth-basic.conf;
       proxy_pass http://seedboxdocker_fail2ban:80/api/;
       include proxy.conf;
    }
#end_fail2ban

#start_portainer
    location /portainer/ {
      include proxy.conf;
      proxy_set_header Connection "";
      proxy_pass http://seedboxdocker_portainer_1:9000/;
      
    }
    location /portainer/api/websocket/ {
      include proxy.conf;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_pass http://seedboxdocker_portainer_1:9000/api/websocket/;

    }
#end_portainer

    location /nginx_status {
        stub_status on;
        access_log off;
    }


# vim: ft=nginx
